a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: #43a047;
  padding: 20px;
  color: white;
}

.navbar .enlace{
  padding: 6px;
  border-radius: 5px;
  
}

.navbar .enlace:hover{
  background-color: #165019;
  transition: background-color 0.3s ease-out;
}